:root {
  --blue: #0FA3B1;
  --cream: #f3f2e6;
  --yellow: #EDDEA4;
  --red-orange: #e9773a;
  --dark-orange: #FF9B42;
  --dark-purple: #322246;
}

.main-body, body, main { 
  font-family: 'Raleway', sans-serif;
  background-color:var(--cream);
}

nav {
  margin: 0 0 1% 2%;
}

#nav-name {
  font-family: 'Megrim', cursive;
  text-decoration: none;
  color: var(--blue);
  font-size: 63px;
}

#nav-list {
  color:var(--dark-purple);
  text-decoration: none;
  font-size: 16px;
}

#nav-list:hover, #nav-list:focus {
  color: var(--blue);
  border-bottom:solid 2px var(--dark-orange);
}

#tropical-hero {
  width:100%;
}

#hero-container {
  position:relative;
  margin-bottom:5%;
}

  /* About Me Photo */
  #bio-photo {
    border-radius: 5px;
}

#welcome {
  color:var(--red-orange);
  font-size: 60px;
  margin-bottom: 4%;
  font-weight:700;
  position:absolute;
  top:25%;
  left:34%;
  border-bottom: solid 1px var(--dark-orange) 
}

#cover-letter-text {
  border-radius: 2px;
  border:dashed 1px var(--blue);
  opacity:70%;
  padding-left: 10px;
  font-size:20px;
}

.hidden {
  opacity: 0;
  transition:all 1s;
}

.show {
  opacity:1;
}

#bio-card {
  color: var(--dark-purple);
  margin: 0% auto;
}

.text-body-about {
  border-left: 3px solid var(--blue);
}

.skills-card {
  margin-top: 2%; 
  margin-bottom: 2%;
}

#resume-img{
  border-radius: 5px;
  width:600px;
  height: 750px;
}

.about-me-text {
  font-size:25px;
}

#cover-letter-text {
  font-size: 17px;
}

aside > li,ul {
  list-style: none;
}

.github-logo {
  width: 45px;
  padding-bottom: 1%;
  margin-right:2%;
}

.logos-footer {
  width: 45px;
  padding-bottom: 1%;
  margin-right:2%;
}

.logos-footer:hover {
opacity: 60%;
}

footer {
  position:fixed;
  bottom: 0px;
}

.form-container {
  border-radius: 5px;
  border: solid 1px var(--dark-orange);
  background-color: var(--blue);
  z-index: index 2;
  width: 65%;
}

#form-btn {
  border-radius:8px;
  border: solid 1px var(--dark-purple);
  background-color: var(--dark-orange);
}

.email-header, .form-label{
  color:var(--cream)
}

input {
  border:var(--dark-purple);
}

#flamingo {
  width: 175px;
  margin:0% auto;
  display: block;
  position: relative;
  bottom: 45px;
}

#plant-img {
  z-index: index -1;
  position:absolute;
} 



  /* Dark Mode Colors */
  section {
    color: #1B3A4B;
    color:  #065A60;
    color: #312244;
    color: #654c6c
  }

  
